.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  } .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  } .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  } .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  } body {
    background-color: grey;
    font-family: Space Mono;
  } head {
    font-family: Space Mono;
    
  } h1 {
    text-align: center;
    background-color: yellowgreen;
    padding: 2%;
    margin-bottom: -3%;
  } h2{
    text-align: center;
    background-color: chocolate;
    padding: 1%;

  } .combine {
    display: inline;
    display: flex;
    align-items: center;
  } p {  
    margin: 3%;
    background-color: palevioletred;
    padding: 2%;
  } .combine2 {
    display: inline;
    display: flex;
    align-items: center;
  } p2 {
    margin: 3%;
    background-color: lightskyblue;
    padding: 2%;
  } p3 {
    color: white;
    background-color: purple;
  } .gif {
    display: inline;
    display: flex;
    align-items: center;
    
  } p4 {
    color: white;
    background-color: purple;
  }
  
